<div class="appBottomMenu">
  <a id="user" href="/user" class="item active">
    <div class="col">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <strong>Dashboard</strong>
    </div>
  </a>
  <a id="paytags" href="/tag/paytags" class="item">
    <div class="col">
      <ion-icon name="pricetags-outline"></ion-icon>
      <strong>Paytags</strong>
    </div>
  </a>
  <a id="transactions" href="/user/transactions" class="item">
    <div class="col">
      <ion-icon name="document-text-outline"></ion-icon>
      <strong>Transactions</strong>
    </div>
  </a>
  <a id="deposits" href="/user/deposits" class="item">
    <div class="col">
      <ion-icon name="download-outline"></ion-icon>
      <strong>Deposits</strong>
    </div>
  </a>
  <a id="banks" href="/user/banks" class="item">
    <div class="col">
      <ion-icon name="card-outline"></ion-icon>
      <strong>Banks</strong>
    </div>
  </a>

  <a id="settings" href="/user/settings" class="item">
    <div class="col">
      <ion-icon name="settings-outline"></ion-icon>
      <strong>Settings</strong>
    </div>
  </a>
</div>
